@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box !important;
    line-height:1.2 !important;
}

input{
    /*ios대응*/
    appearance: none;
    -webkit-appearance: none;
}

select{
    /*ios대응*/
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    background:url('../images/arrow.png') no-repeat 90% 50% #fff; 
    background-size:10px 15px;
}

input, textarea, button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

html, body {
    font-size:10px;
    min-height:100vh;
}

.html,body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@mixin button-reset() {
    border:0;
    background:transparent;
    cursor:pointer;
}

@mixin text-cut() {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.loading {
    display:none;
}

.start {
    display:block;
    width:150px;
    height:150px;
    background:rgba(255,255,255,.7);
    border-radius:50%;
    position:fixed;
    top:calc(50% - 75px);
    left:calc(50% - 75px);;
    transform:rotate(90deg);
    overflow:hidden;

    .loading-bg {
        width:150px;
        height:1000%;
        background-image:url('../images/background.png');
        background-position:center;
        background-size:contain;
        animation: bg-ani 5s linear forwards;
    }
}

.scroll {
    display:block;
    width:10px;
    height:10px;
    background:transparent;
}

.err-404 {
    display:flex;
    align-items:center;
    flex-direction:column;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    .err-code {
        font-size:20rem;
        font-weight:400;
        font-family: 'Anton', sans-serif;
    }

    .err-msg {
        font-size:5rem;
        font-weight:600;
    }
}


.err-movie {
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    font-size:5rem;
    font-weight:600;

    p {
        margin-top:20px;
        font-size:2rem;
        font-weight:400;
    }
}


@media (max-width: 700px){
    html,body {
        font-size:7px;
    }

}