header {
    .header-wrap {
        display:flex; 
        gap:50px;
        width:100%;
        padding:20px 30px;

        .title {
            color:#fff;
            font-size:4rem;
            font-weight:900;
            text-shadow:1px 1px 5px #000;
        }
        
        .menu-wrap { 
            display:flex;
            align-items:center;
            gap:30px;

            .menu {
                font-size:2rem;
                font-weight:900;
        
                span {
                    cursor:pointer;
        
                    &:hover {
                        color:#fff;
                        text-shadow:1px 1px 3px #000;
                    }
                }
            }
        }
    }
}