@import "common.scss";

header {
    max-width:1500px;
    margin:auto;

    .header-wrap {
        display:flex; 
        gap:40px;
        width:100%;
        max-width:1500px;
        padding:20px 30px;

        .title {
            color:#fff;
            font-size:4.5rem;
            font-weight:900;
            text-shadow:1px 1px 5px #000;
            cursor: pointer;
        }
        
        .menu-wrap { 
            display:flex;
            align-items:center;
            gap:30px;

            .menu {
                font-size:2.5rem;
                font-weight:900;
        
                span {
                    cursor:pointer;
        
                    &:hover {
                        color:#fff;
                        text-shadow:1px 1px 3px #000;
                    }

                    &.click {
                        color:#fff;
                        text-shadow:1px 1px 3px #000;
                    }
                }
            }
        }
    }
}